-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu 
torchvision==0.10.0+cpu 
gunicorn==20.0.4
Flask==2.0.3
pillow==8.3.1
requests==2.27.1
pandas
PyYAML
tqdm
matplotlib
seaborn
opencv-python-headless